body{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.mainblue{
    float:left;
    height: 650px;
    width: 50%;
    background-color: #6293dd ;
}
.title1{
text-align:center;
padding: 15px 15px;
font-family: Arial, Helvetica, sans-serif;
color: aliceblue;
font-size: 30px;
}
.value{
    border: 4px solid #0413ec;
    border-radius: 20px;
    width: 580px;
    height: 40px;
    padding: 5px 5px;
    margin: auto;
    line-height: 40px;
    background-color: aliceblue;
    text-align: center;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    
}
.image{
    float: right;
  width: 50%;
  height: 650px;
  
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text);
    
  }

  .image2{
    padding: 20px 20px;
    margin: 12px;
  }
